@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

$leaf_light: theme('colors.leaf.light');

* {
    font-family: 'Ubuntu', sans-serif;
}

/* LAYOUT DA PÁGINA */
#interface {
    display: grid;
    grid-template-columns: 18vw 82vw;
    grid-template-rows: 10vh 90vh;
    grid-template-areas:
        "header header"
        "aside main"
    ;

    min-height: 100vh;
}

#header {
    grid-area: header;
}

#side {
    grid-area: aside;
}

#content {
    grid-area: main;
}

/* TABELA */
.table {
    width: 100%;

    td, th {
        padding: .4em .8em;
    }

    tbody tr:nth-child(odd) {
        background-color: theme('colors.slate.200');
    }
}

/* FORMULÁRIOS */
.input-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 4px;
    margin-bottom: .7em;
}

.input {
    outline: none;
    padding: 5px;
    border-radius: .275em;
    border: 1px solid theme('colors.slate.200');
    font-size: .875em;

    transition: border-color 200ms, outline 200ms;

    &:focus {
        border: 1px solid transparent;
        outline: 4px solid $leaf_light;
    }
}

label {
    font-size: .975em;
}

/* REDIRECTION */
.redirect:hover {
    color: theme('colors.leaf.dark');
}
