/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* FORMULÁRIOS */
.form-error {
    color: rgb(255, 109, 109);
    font-size: .8em;
}

/* ÍCONES */
.iconed {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
