/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* LAYOUT DA PÁGINA */
#interface {
    display: grid;
    grid-template-columns: 25vw 75vw;
    grid-template-rows: 10vh 90vh;
    grid-template-areas:
        "header header"
        "aside main"
    ;

    min-height: 100vh;
}

#header {
    grid-area: header;
}

#side {
    grid-area: aside;
}

#content {
    grid-area: main;
}
