
.book-card {
    position: relative;
    width: 90%;
    margin: auto;
}

.delete-selector-container {
    position: absolute;

    top: 0;
    right: 0;

    transform: scale(2) translate(-10%, -10%);

    accent-color: #81ff6e;
}


/* SHOWING A BOOK */
.books-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    overflow-y: auto;
    height: 100%;
    /* background-color: blue; */
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-container img {
    width: 50%
}
