
.book-card {
    position: relative;
}

.delete-selector-container {
    position: absolute;

    top: 0;
    right: 0;

    transform: scale(2) translate(-10%, -10%);

    accent-color: #81ff6e;
}


/* SHOWING A BOOK */
.book-ciontainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    background-color: blue;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-container img {
    width: 50%
}
