#interface {
    min-height: 100vh;
    background-color: #eceaea;
}

#logo {
    width: 100px;
}

.password {
    height: 100%;
    flex-grow: 1;
}
.password:focus {
    outline: none;
}

.outlined {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}

.password-toggler {
    font-size: 100px;
}

label {
    font-size: 11pt;
    color: #0c0010;
    font-weight: bold;
}

a {
    color: #0c0010;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}
