ul {
    padding: 0;
    margin: 0;
}

.list {
    list-style: none;
    height: 2.4em;
}

.options-list-list {
    list-style: none;
}

.multiple-select {
    overflow-x: auto;
    overflow-y: none;
}
.multiple-select::-webkit-scrollbar {
    height: 0px;
    background-color: transparent;
}

.multiple-select-item {
    font-weight: 600;
    background-color: #b7ffa6;
    width: fit-content;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 15px;
    color: rgb(90, 90, 90);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    white-space: nowrap;
    word-break: keep-all;
}

.multiple-select-item p {
    margin: 0;
}

.close-item-icon {
    border-radius: 50%;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.close-item-icon:hover {
    cursor: pointer;
    background-color: #ccffce;
}

.show-options {
    background-color: transparent;
    border: none;
    height: 100%;
    border-radius: 5px;
}

.options-list {
    background-color: white;
    width: 100%;
    overflow-y: auto;
    height: fit-content;
    text-align: left;

    top: 40px;
    left: 0;

    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.145);
}

.input-option:hover {
    background-color: #b7ffa6;
    cursor: pointer;
}

#select-option-list {
    height: 350px;
    overflow-y: auto;
}
