:root {
    --general-green: rgb(124, 207, 124);
    --general-orange: rgb(255, 162, 69);
    --darker-green: rgb(0, 51, 5);
}


.interface {
    min-height: 100vh;
}

/* MENU */
.logo {
    width: 60px;
}

.logo-text {
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
}

.form-inline {
    display: flex;
    gap: 10px;
}

/* ICONS */
.icons-containers-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}


.notification-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--general-green);
    padding: 6px;
    border-radius: 5px;
    width: 30px;
    height: 30px;

    transition: background-color 500ms;
    transform: scale(1.2);
}
.notification-icon-container:hover {
    background-color: var(--darker-green);
    cursor: pointer;
}
.notification-icon {
    color: white;
}


.profile-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    transform: scale(1.8);

    padding: 5px;
    border-radius: 10px;

    background: #ededed;
    transition: background-color 500ms;
}
.profile-icon-container:hover {
    background: var(--general-green);
    cursor: pointer;
}

.profile-icon {
    color: white;
}

.gear-icon {
    color: var(--general-orange);
}


.floating-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: fixed;
    opacity: 0;
    transform: scale(0);
    transition: transform 600ms, opacity 600ms;
    transform-origin: top right;

    background-color: white;
    padding: 20px;
    border-radius: 10px;

    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.435);

    text-align: center;
    z-index: 2;
}

.profile-container {
    height: 70vh;
    right: 20px;
    top: 70px;
}

.notification-container {
    height: 60vh;
    right: 100px;
    top: 70px
}


/* CORPO */
.card-body {
    overflow-y: auto;
    max-height: 80vh;
}

.card.item {
    margin-top: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.442);
}

.upper-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    gap: 10px;
}

.msg {
    border: var(--general-orange) 3px solid;
    background-color: white;
    border-radius: 10px;
    padding: 5px;

    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    bottom: 20px;

    font-size: 1.3rem;
}

.quit-container {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;

    padding: 2px;
    transform: translate(10px, -15px);
}


