:root {
    --general-green: rgb(124, 207, 124);
    --general-opacity-green: rgba(124, 207, 124, 0.389);
    --general-orange: rgb(255, 162, 69);
    --darker-green: rgb(0, 51, 5);
}

/* GRID */
.interface {
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;

    display: grid;
    grid-template-rows: 15vh 85vh;
    grid-template-columns: 20vw 80vw;
    grid-template-areas:
        "header header"
        "aside main"
    ;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    grid-area: header;
}
.aside {
    grid-area: aside;
}
#content-container {
    overflow-y: scroll;

    background-color: #f5f5f5;
    border-top-left-radius: 10px;
    padding: 20px;

    grid-area: main;
}

/*---------------------------------------------------------------------------*/

.form-inline {
    display: flex;
    gap: 10px;
}

/* MENU */
.navbar-nav {
    width: 100%;
    gap: 3px;
}
.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
}
.nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;

    width: 90%;
}

.nav-link:hover, .active {
    background-color: var(--general-opacity-green);
    color: var(--darker-green);
}

/* HEADER */
.site-brand {
    display: block;
    width: fit-content;
}

.logo {
    width: 60px;
}

.logo-text {
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
}

/* ICONS */
.icons-containers-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: fit-content;
}


.notification-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--general-green);
    padding: 6px;
    border-radius: 5px;
    width: 30px;
    height: 30px;

    transition: background-color 500ms;
    transform: scale(1.2);
}
.notification-icon-container:hover {
    background-color: var(--darker-green);
    cursor: pointer;
}
.notification-icon {
    color: white;
}


.profile-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    transform: scale(1.8);

    padding: 5px;
    border-radius: 10px;

    background: #ededed;
    transition: background-color 500ms;
}
.profile-icon-container:hover {
    background: var(--general-green);
    cursor: pointer;
}

.profile-icon {
    color: white;
}

.gear-icon {
    color: var(--general-orange);
}


.floating-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: fixed;
    opacity: 0;
    transform: scale(0);
    transition: transform 600ms, opacity 600ms;
    transform-origin: top right;

    background-color: white;
    padding: 20px;
    border-radius: 10px;

    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.435);

    text-align: center;
    z-index: 2;
}

.profile-container {
    height: 70vh;
    right: 20px;
    top: 70px;
}

.notification-container {
    height: 60vh;
    right: 100px;
    top: 70px
}


/* CORPO */
.card.item {
    margin-top: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.442);
}

.upper-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 10px;
}

.msg {
    /* border: var(--general-orange) 3px solid; */
    /* background-color: white; */
    border-radius: 10px;
    /* padding: 5px; */

    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    bottom: 20px;

    /* font-size: 1.3rem; */
}

.quit-container {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;

    padding: 2px;
    transform: translate(10px, -15px);
}

/* PATH */
.links-container {
    font-size: 1.3rem;
    gap: 3px;
}
.link-path {
    color: black;
    text-decoration: none;
    font-size: 20pt;
    font-weight: bold;
}
.link-path:hover {
    color: var(--general-green);
}

/* PAGINATION */
.p-links-container-container {
    /* gap: 2px; */
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.107);
}

.pagination-link-separator {
    text-align: center;

    background-color: #ffffff;
    padding: 4px 15px;
    color: black;
    text-decoration: none;
    min-width: 25px;
    border-right: rgb(223, 223, 223) solid 1px;
}

.pagination-link {
    text-align: center;

    background-color: #ffffff;
    padding: 4px;
    color: black;
    text-decoration: none;
    min-width: 25px;

    border-right: rgb(223, 223, 223) solid 1px;
}
.pagination-link:hover {
    background-color: #f0f0f0;
}
.pagination-link:active {
    background-color: #adadad;
}

.pagination-link-active {
    background-color: #cecece;
}
