.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
}
.nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    gap: 8px;
    padding: 10px 20px;
    border-radius: 10px;

    width: 90%;
}

.menu-section h3 {
    font-size: 1em;
    color: #474747;
    padding-bottom: 3px;
    margin-bottom: 0;
    margin-left: 1.1em;
}
