.show-options {
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.options-list {
    background-color: white;
    width: 100%;
    overflow-y: auto;
    height: fit-content;
    text-align: left;

    left: 0;

    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.145);
}

.input-option:hover {
    background-color: theme('colors.night.light');
    color: white;
    cursor: pointer;
}

.select-option-list {
    max-height: 350px;
    overflow-y: auto;
}

.multiple-search-item {
    font-weight: 600;
    background-color: theme('colors.night.dark');
    width: fit-content;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 15px;
    color: rgb(90, 90, 90);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    white-space: nowrap;
    word-break: keep-all;
}

.options-list-list {
    list-style: none;
}

.multiple-select-item {
    font-weight: 600;
    background-color: theme('colors.night.dark');
    width: fit-content;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 15px;
    color: rgb(90, 90, 90);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    white-space: nowrap;
    word-break: keep-all;
}

.multiple-select-item p {
    margin: 0;
    color: white;
}

.close-item-icon {
    @apply flex items-center justify-center;

    border-radius: 50%;
    color: white;
}

.close-item-icon:hover {
    cursor: pointer;
    background-color: theme('colors.night.light');
}
